<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techinf</title>
    <link rel="stylesheet" href="./../public/tailwind.css" />
    <link rel="stylesheet" href="./../public/design.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') -%>
    <div id="body" class="flex flex-col">
      <div id="top_news" class="sm:border-2 self-center w-full sm:w-5/6 mt-10">
        <div id="first">
          <% left.forEach(item=>{ %>
          <div
            id="one"
            style="background: url(<%= item.image%>)"
            class="sm:my-0 sm:text-black text-white sm:mx-0 mx-4 bg-amber-200 sm:bg-none my-3"
          >
            <a href="/post/<%=item._id%>">
              <div id="below" class="sm:px-0 sm:py-0 py-5 px-8" class="">
                <h2 id="text"><%= item.snippet%></h2>
                <small id="time"><%= item.time%> </small>
              </div>
            </a>
          </div>
          <%}) %>
        </div>
        <div id="second">
          <% right.forEach(item =>{ %>
          <a href="/post/<%=item._id%>">
            <div
              id="below"
              style="background: url(<%= item.image%>)"
              class="sm:px-0 sm:py-0 sm:mx-0 mx-4 py-5 sm:bg-none bg-emerald-500 px-8"
            >
              <div id="cover">
                <h2 id="text"><%= item.snippet %></h2>
                <small id="time"><%= item.time%></small>
              </div>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
      <div id="indicator" class="rounded text-center text-white font-bold">
        More Stories
      </div>
      <div
        id="other_news"
        class="flex flex-col sm:my-0 my-4 sm:px-4 px-4 sm:flex-row sm:justify-center"
      >
        <% second.forEach(item =>{%>
        <div
          style="background: url(<%= item.image%>)"
          class="item sm:rounded-none sm:my-0 my-3 rounded sm:flex sm:flex-col sm:justify-end p-4"
        >
          <a
            href="/post/<%=item._id%>"
            id="below"
            class="flex sm:rounded text-white text-xs flex-col sm:p-2 justify-between"
          >
            <p id="text" class="sm:pb-2"><%= item.snippet%></p>
            <p id="time"><%=item.time%></p>
          </a>
        </div>
        <% })%>
        <!-- Only holds three elements -->
      </div>
      <% data.forEach(item =>{%>
      <a
        href="/post/<%=item._id%>"
        id="last_section"
        class="sm:flex p-5 sm:justify-center sm:px-0 px-4"
      >
        <div
          id="holder"
          style="background: url(<%= item.image%>)"
          class="p-4 sm:w-4/6 text-white w-full rounded"
        >
          <p id="text" class="text-sm"><%=item.snippet%></p>
          <p id="time" class="text-xs pt-5"><%=item.time%></p>
        </div>
      </a>
      <%})%> <%- include('./partials/footer.ejs') -%>
    </div>
  </body>
  <script>
    let text_minify = document.querySelectorAll("#snippet_section");
    text_minify.forEach((item) => {
      if (item.innerText.length >= 120) {
        let newText = item.innerText.substring(0, 120);
        item.innerText = `${newText} ...`;
      }
    });
    // minify more
    text_minify = document.querySelectorAll("#text");
    text_minify.forEach((item) => {
      if (item.innerText.length >= 100) {
        let newText = item.innerText.substring(0, 100);
        item.innerText = `${newText} ...`;
        console.log(item.textContent);
      } else {
        console.log("hey");
      }
    });

    // Time format
    let time = document.querySelectorAll("#time");
    time.forEach((item) => {
      let d = new Date(item.innerText).toLocaleDateString();
      item.innerText = d;
    });
  </script>
</html>
