<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techinf</title>
    <link rel="stylesheet" href="./../public/tailwind.css" />
    <link rel="stylesheet" href="./../public/design.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') -%>
    <div id="body" class="flex flex-col">
      <div id="top_news" class="border-2 self-center w-full sm:w-5/6 mt-10">
        <div id="first">
          <% left.forEach(item=>{ %>
          <div id="one" class="">
            <div id="below" class="sm:px-0 px-8" class="">
              <h2><%= item.snippet%></h2>
              <small id="time"><%= item.time%> </small>
            </div>
          </div>
          <%}) %>
        </div>
        <!-- #second will only show on the pc version on mobile it's all good ps delete during production -->
        <div id="second">
          <% right.forEach(item =>{ %>
          <div id="below" class="sm:px-0 px-8">
            <h2><%= item.snippet %></h2>
            <small id="time"><%= item.time%></small>
          </div>
          <% }) %>
        </div>
      </div>
      <div id="indicator" class="rounded text-center text-white font-bold">
        More Stories
      </div>
      <div
        id="other_news"
        class="border-2 text-white text-xs self-center justify-between sm:justify-between flex flex-col sm:flex-row w-11/12 sm:w-5/6 sm:mt-10"
      >
        <!-- Only holds three elements -->
        <% second.forEach(item =>{ %>
        <div id="one" class="flex flex-col justify-end">
          <div id="below" class="">
            <h2><%= item.snippet%></h2>
            <small id="time"><%=item.time%></small>
          </div>
        </div>
        <% })%>
      </div>
      <!-- <div id="last_section" class="my-8 sm:flex sm:flex-row sm:justify-center">
        <div id="last_holder" class="w-full rounded border-2 p-3 px-10">
          <div id="cover">
            <h2 id="title_section" class="text-sm">
              Lorem ipsum dolor sit, Lorem ipsum dolor sit amet.
            </h2>
            <h2 id="snippet_section" class="text-sm pl-10 font-bold">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis,
              excepturi. Magni saepe incidunt officia veritatis tempore
              perspiciatis quibusdam repellendus praesentium cupiditate! Vel,
              culpa animi illo quos rem amet in quidem!
            </h2>
          </div>
        </div>
      </div>

      <div id="last_section" class="my-8 sm:flex sm:flex-row sm:justify-center">
        <div id="last_holder" class="w-full rounded border-2 p-3 px-10">
          <div id="cover">
            <h2 id="title_section" class="text-sm">
              Lorem ipsum dolor sit, Lorem ipsum dolor sit amet.
            </h2>
            <h2 id="snippet_section" class="text-sm pl-10 font-bold">
              Lorem ipos rem amet in quidem!
            </h2>
          </div>
        </div>
      </div>

      <div id="last_section" class="my-8 sm:flex sm:flex-row sm:justify-center">
        <div id="last_holder" class="w-full rounded border-2 p-3 px-10">
          <div id="cover">
            <h2 id="title_section" class="text-sm">
              Lorem ipsum dolor sit, Lorem ipsum dolor sit amet.
            </h2>
            <h2 id="snippet_section" class="text-sm pl-10 font-bold">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis,
              excepturi. Magni saepe incidunt officia veritatis tempore
              perspiciatis quibusdam repellendus praesentium cupiditate! Vel,
              culpa animi illo quos rem amet in quidem!
            </h2>
          </div>
        </div>
      </div> -->
      <%- include('./partials/footer.ejs') -%>
    </div>
  </body>
  <script>
    let text_minify = document.querySelectorAll("#snippet_section");
    text_minify.forEach((item) => {
      if (item.innerText.length >= 120) {
        let newText = item.innerText.substring(0, 120);
        item.innerText = `${newText} ...`;
      }
    });
    // Time format
    let time = document.querySelectorAll("#time");
    time.forEach((item) => {
      let d = new Date(item.innerText).toLocaleDateString();
      item.innerText = d;
    });
  </script>
</html>
